# Ignore Python virtual environment
.venv/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore environment files
.env

# Ignore macOS system files
.DS_Store

# Ignore build and distribution directories
dist/
build/
*.egg-info/
